// 缩放效果
.scale-cont {
	transform: scale(1);
}

.scale-enter-active,
.scale-leave-active {
	transition: all 0.3s;
}

.scale-enter,
.scale-leave-active {
	transform: scale(0);
}

// popup出现动画
.topfead-cont {
	top: 0;
	opacity: 1;
}

.topfead-enter-active,
.topfead-leave-active {
	transition: all 0.5s;
}

.topfead-enter,
.topfead-leave-active {
	top: -100px;
	opacity: 0;
}

// 从上到下出现
.toptodown-cont {
	// transform: translateY(-100%);
	// top: 40px;
	// transform: translateY(10%);
}

.toptodown-enter-active,
.toptodown-leave-active {
	transition: all 0.3s;
}

.toptodown-enter,
.toptodown-leave-active {
	transform: translateY(-100%);
}

// 分类列表动画
.list-in-animated {
	animation: list-in-animated 0.3s;
}
@keyframes list-in-animated {
	0% {
		transform: scaleX(0.7);
		opacity: 0;
	}
	100% {
		transform: scaleX(1);
		opacity: 1;
	}
}

// 列表与搜索切换效果
.tab-enter-active {
	animation: tab-animated 0.3s;
}
.tab-leave-active {
	animation: tab-animated 0.3s reverse;
}

@keyframes tab-animated {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// 搜索记录列表动画
.search-in-list-animated {
	animation: search-in-list 0.3s both;
}

.search-in-list-animated:nth-child(1) {
	animation-delay: 20ms;
}

.search-in-list-animated:nth-child(2) {
	animation-delay: 40ms;
}

.search-in-list-animated:nth-child(3) {
	animation-delay: 60ms;
}

.search-in-list-animated:nth-child(4) {
	animation-delay: 80ms;
}

.search-in-list-animated:nth-child(5) {
	animation-delay: 100ms;
}

@keyframes search-in-list {
	from {
		opacity: 0;
		transform: translateX(100px);
		animation-timing-function: ease;
	}
	to {
		opacity: 1;
		transform: none;
	}
}

//搜索input框显示动画
.search-in-input-animated {
	animation: search-in-input 0.2s both 0.3s;
}

@keyframes search-in-input {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
